{% extends "base.html" %}
{% load static %}

{% block body_content %}
<div class="card text-center bg-transparent text-white border-0">
  <div class="card-body">
    <h3 class="card-title">Explore the native filipino dishes!</h3>
    <p class="card-text"><i>Order and it will be delivered to your door!</i></p>
  </div>
</div>
<div class="flex-container">
  <ul class="list-group list-group-horizontal-sm-">
    <li class="list-group-item">
      <div id="carouselExampleSlidesOnly" class="carousel slide h-75 d-inline-block" data-bs-ride="carousel">
        <div class="carousel-inner bg-transparent">
          <div class="carousel-item active" style="height: 500px;">
            <img src="/../media/Ginatan2.jpg" class="d-block w-100" alt="Ginatan">
          </div>
          <div class="carousel-item" style="height: 500px;">
            <img src="/../media/Puto2.jpg" class="d-block w-100" alt="Puto">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
