{% extends "base.html" %}
{% load static %}

{% block body_content %}
  <div class="card text-center bg-transparent text-white border-0">
    <div class="card-body">
      <h3 class="card-title">Today's Available Foods</h3>
      <p class="card-text">Order and it will be delivered to your door!</p>
    </div>
  </div>
           
    <div class="flex-container">
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">
            <div class="card" style="width: 18rem;">
                <img src="/../media/Puto.jpg" class="card-img-top" alt="Puto">
                <div class="card-body">
                  <h5 class="card-title">Puto</h5>
                  <p class="card-text">A Filipino delicacy mainly made of rice flour and egg</p>
                  <a href="#" class="btn btn-primary">Learn More</a>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card" style="width: 18rem;">
                <img src="/../media/Ginatan.jpg" class="card-img-top" alt="Ginatan">
                <div class="card-body">
                  <h5 class="card-title">Ginatan</h5>
                  <p class="card-text">"A creamy tasty snack or dessert made of sticky rice balls and fruits"</p>
                  <a href="#" class="btn btn-primary">Learn More</a>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="card" style="width: 18rem;">
                <img src="/../media/Butchi.jpg" class="card-img-top" alt="Butchi">
                <div class="card-body">
                  <h5 class="card-title">Butchi</h5>
                  <p class="card-text">"Buchi or Butsi is a rice cake made of sweet rice flour molded into shape with sweet bean paste filling and sesame seed coating"</p>
                  <a href="#" class="btn btn-primary">Learn More</a>
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </li>
      </ul>
    </div>
{% endblock %}
